harvester.debug=false
# 1 => Stream API, 2 => Search API
harvester.harvestingMode=1
harvester.geoTagOnly=true
harvester.usePlaceTag=false
harvester.addFriendsFollowers=true
harvester.collectOtherCities=true
harvester.numStreamThread=50
harvester.numSearchThread=50
harvester.timelinePageLimit=50
harvester.pagingCount=100
harvester.threadWaitMiliSeconds=3000
harvester.searchAPIRadiusKm=50
harvester.maxErrorTweets=100
harvester.maxRateLimitResetTime=100
harvester.countryName=Australia
harvester.countryBoundingBox={ 112.4858, -44.1527, 156.4341, -9.2681 }
harvester.numCity=8
harvester.cityName=Melbourne
harvester.cityBoundingBox={ 144.593742, -38.433859, 145.512529, -37.511274 }
harvester.cityName=Sydney
harvester.cityBoundingBox={ 150.520929, -34.118347, 151.343021, -33.578141 }
harvester.cityName=Adelaide
harvester.cityBoundingBox={ 138.44213, -35.34897, 138.78019, -34.652564 }
harvester.cityName=Perth
harvester.cityBoundingBox={ 115.617614, -32.675715, 116.239023, -31.624486 }
harvester.cityName=Brisbane
harvester.cityBoundingBox={ 152.668523, -27.767441, 153.31787, -26.996845 }
harvester.cityName=Hobart
harvester.cityBoundingBox={ 147.13366, -43.014123, 147.613383, -42.655376 }
harvester.cityName=Darwin
harvester.cityBoundingBox={ 130.815117, -12.521742, 131.0515, -12.33006 }
harvester.cityName=Canberra
harvester.cityBoundingBox={ 148.995922, -35.48026, 149.263643, -35.147699 }
